.section {
    position: relative;
    
    &_header {
        margin-top: -2%;
    }
    
    &_background {
        background: $background-color-1;
        h2 {
            color:white;
            padding-bottom: 4%;
        }
        @media (max-width: $sm) {
            h2 {
                padding-bottom: 7%;
                font-size: $font-size-base;
            }
        }
    }
        
    &_background-2 {
        background: $gradient-color-2;
        h2 {
            padding-bottom: $spacer * 6.5;
            padding-top: $spacer * 6;
        }
        @media (max-width: $md) {
            h2 {
                font-size: 24px;
            }
        }
    }
}

.container {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height;
    max-width: 1280px;
    margin: 0 auto;
    padding: $spacer;
    overflow: hidden;
    position: relative;
    
    @media (min-width: $sm) {
        padding: $spacer $spacer * 2;
    }

    @media (min-width: $xl) {
        padding: $spacer * 4 $spacer * 10;
    }

    &_payments {
        text-align: center;
    }
}

@import 'footer';
@import 'header';
@import 'navigation';
