.btn-primary {
    border: none;
    border-radius: $border-radius-lg;
    background-color: #E2580A;
    color: white;
    font-size: $font-size-sm;
    font-family: $font-family-base;
    font-weight: 600;
    outline: none;
    padding: 1em 2em; // $spacer * 1.2 $spacer * 3
    margin-top: $spacer * 2;

    &_submit {
        background-color: #1C3FAA;
        margin-left: 53%;
        @media screen and (max-width: $md) {
            margin-left: 35%;
        }
    }

    @media screen and (max-width: $xl) {
        margin-top: $spacer * 0;
    }
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #F06B20;
}

.btn-primary:active {
    cursor: pointer;
    box-shadow: 0 0 4px 4px #FEB084;
}

.btn-primary_submit:hover {
    background-color: #3056CC;
}

.btn-primary_submit:active {
    box-shadow: 0 0 4px 4px #97ADEF;
}

.btn--has-shadow {
    box-shadow: 0px 10px 16px 0px rgba(77,91,237,0.2);
}