.margin-list {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-base;
    
    h2 {
        padding-top: $spacer * 13.5;
        padding-bottom: $spacer * 13.5;
    }

    &__item {
        padding-bottom: $spacer * 12.5;
        h4 {
            display: inline-flex;
            align-items: center;
            
            span {
                font-size: $font-size-base;
                margin-top: $spacer * 0;
            }
            
            img {
                margin-right: 2%;
            }
        }
    
        span {
            margin-top: $spacer * 5;
            color: #00316D;
        }
    
        .link-more, button {
            align-self: baseline;
            margin-top: $spacer * 5;
            text-decoration: none;
            span {
                color: white;
            }
        }
    }

    @media (max-width: $md) {
        h2 {
            font-size: 24px;
            padding-top: $spacer * 10;
            padding-bottom: $spacer * 10;
        }

        &__item {
            padding-bottom: $spacer * 4;
            h4 {
                font-size: 18px;
            }
            
            span {
                font-size: 16px;
            }
            
            button {
                align-self: flex-start;
                margin: $spacer * 5 0;
            }
        }
    }

    @media (max-width: $sm) {
        h2 {
            padding-top: $spacer * 3;
            padding-bottom: $spacer * 3;
        }

        &__item {
            padding-bottom: $spacer;
            h4 {
                span {
                    font-size: calc(5vw);
                }
            }
            span {
                font-size: calc(4.4vw);
            }
            
            button {
                align-self: center;
                margin: $spacer * 3;
                span {
                    font-size: calc(4vw);
                }
            }
        }
    }
}

