.payment-card {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $spacer * 6;
    text-align: center;
    background-color: $white;
    width: 250px;
    margin: 10px;

    img {
        align-items: center;
    }

    &__name {
        margin: $spacer * 2 0;
        line-height: $line-height-base;
    }
    &__title {
        display: inline-grid;
        font-size: $font-size-sm;
        color:#396090;
        height: 72px;
    }
    &__priсe {
        margin-top: 14%;
        margin-bottom: 14%;
        // margin-left: 17%;
        font-size: $font-size-xxl;
        span {
            vertical-align: top;
            font-size: initial;
            font-weight: normal;
        }
        &_required span::after {
            content: "*";
            color: $danger;
            font-size: medium;

        }
        &_custom {
            font-size: $font-size-base * 1.2;
            font-weight: 600;
            color: #00316D;
            height: 60px;
        }
    }

    @media screen and (max-width: $sm) {
        max-width: 60%;
        button {
            span {
                font-size: $font-size-base * .6;
            }
        }
    }
}

.payment-card_custom {
    display: block;
}

.without-vat {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1%;
    font-size: 15px;
}

#payment-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $xl) {
        flex-direction: row;
    }
}

.payment {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $xl) {
        flex-direction: row;
    }

    @media screen and (max-width: $sm) {
        align-items: center;
    }

}
