.user-card {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $spacer * 2;
    text-align: center;
    background-color: $white;
    
    img {
        align-items: right;
        margin-left: 70%;
    }

    &__name {
        font-size: $font-size-xxl;
        color: #00316D;
        @media (max-width: $sm) {
            font-size: calc(7vw);
        }
    }
    &__title {
        display: inline-grid;
        font-size: $font-size-sm;
        color: #00316D;
        @media (max-width: $sm) {
            span {
                font-size: calc(3.2vw);
            }
        }
    }
    @media (max-width: $sm) {
        border-radius: 0.8em;
        padding: 0%;

        img {
            max-width: 20%;
        }
    }
}