.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $line-height-sm;
    letter-spacing: 0.02em;
    color: #00316D;
    
    &_light {
        color: $primary-5;
    }
}

.h1 {
    font-size: calc(6.2vw);
}

.h2 {
    font-size: calc(7vw);
    text-align: center;
}

.h3 {
    font-size: $h3-font-size * 0.85;
}

.h4 {
    font-size: $h4-font-size * 0.90;
}

.h5 {
    font-size: $h5-font-size * 0.95;
}

.h6 {
    font-size: $h6-font-size;
}

@media (min-width: $md) {
    .h1 {
        font-size: $h1-font-size;
    }
    
    .h2 {
        font-size: $h2-font-size;
        text-align: center;
    }
    
    .h3 {
        font-size: $h3-font-size;
    }
    
    .h4 {
        font-size: $h4-font-size;
    }
    
    .h5 {
        font-size: $h5-font-size;
    }
    
    .h6 {
        font-size: $h6-font-size;
    }
}
