html {
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
}
@import 'typography';