.data-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: $spacer * 3;
    grid-row-gap: $spacer * 3;
    padding: $spacer * 2 0;

    @media (max-width: $xl) {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }

    @media (max-width: $sm) {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-column-gap: 4%;
        grid-row-gap: 7%;
        margin-bottom: 4%;
    }
}

.payment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: $spacer * 3;
    grid-row-gap: $spacer * 3;
}

.landing-image{
    max-width: 90%;
    text-align: end;

    @media (min-width: $md) {
        justify-content: center;
        position: relative;
        display: inline-flex;
    }

    @media (max-width: $sm) {
        order: -1;
    }
}

.landing-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00316D;
    padding-bottom: 10%;

    @media (min-width: $md) {
        display: flex;
        flex-direction: row;
        padding-bottom: $spacer * 10;
    }
    @media (min-width: $sm) {
        max-width: 80%;
        padding-left: 10%;
    }
}

