.open-payform::before {
    content: '';
    background: #000;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.open-payform {
	display: none;
}

#pay-form {
	// display: none;
    position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border-radius: $spacer * 3; 
	z-index: 99999;
	opacity: 1;	

    button {
        margin-block: auto;
    }
}

.payform-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    &__label {
        margin-bottom: $spacer;
        display: inline-block;
        font-size: $font-size-sm;

        &_required::after {
            content: "*";
            color: $danger;
        }
    }
    input {
        margin-bottom: $spacer;
        border-radius: $spacer;
    }

    img {
        align-self: flex-end;
        margin-bottom: $spacer;
        cursor: pointer;
        top: 10px;
        right: 10px;
    }
}

