.link {
    text-decoration: none;
    color:  #00316D;
    font-style: normal;
    font-size: 16px;
    display: inline-flex;
    
    &_end {
        color:white;
        padding-bottom: 7%;
    }
}

.link_end:hover {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    transition: 0.25s;
}
.link-cpk {
    z-index: 1;
}

.link-cpk:hover {
    color:#2A4FB6;
    cursor: pointer;
    text-decoration: underline;
}

.link-platform {
    cursor: pointer;
}

.select_lang {
    align-self: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    font-family: $headings-font-family;
    span {
        padding-left: 7%;
        font-size: 12px !important;
    }
}

.select_lang:focus {
    outline: none;
}

.api-documentation {
    cursor: pointer;
    border-bottom: solid 1px;
    display: inline-block;
    line-height: normal;
    font-size: $font-size-base * .9;
}

.api-doc {
    display: flex;
    flex-direction: column;
    img {
        height: 24px;
        width: 24px;
        vertical-align: text-bottom;
    }
    @media screen and (max-width: $sm) {
        text-align: center;
    }
}
