.payment-card {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $spacer * 6;
    text-align: center;
    background-color: $white;
    
    img {
        align-items: center;
    }

    &__name {
        margin: $spacer * 2 0;
        line-height: $line-height-base;
    }
    &__title {
        display: inline-grid;
        font-size: $font-size-sm;
        color:#396090;
    }
    &__pri—Åe {
        margin-top: 14%;
        margin-bottom: 14%;
        margin-left: 14%;
        font-size: $font-size-xxl;
        span {
            vertical-align: top;
            font-size: initial;
        }
        &_required span::after {
            content: "*";
            color: $danger;
            font-size: medium;

        }
    }

    @media screen and (max-width: $sm) {
        &__title {
            font-size: calc(4.5vw);
        }

        button {
            span {
                font-size: $font-size-base * .6;
            }
        }
    }
}

