.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: $spacer * 5;
    position: relative;
    flex-direction: column;
    font-weight: 600;

    @media (min-width: $md) {
        flex-direction: row;
        padding-bottom: 0;
        h1 {
            width: 520px;
        }

        nav {
            display: contents;
        }
    }

    @media (max-width: $md) {
        padding: $spacer;
        flex-direction: row;
        align-items: baseline;
    }
}

.header-logo {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    cursor: pointer;
    &_DO {
        // max-width: 40%;
        align-self: self-start;
    }
    
    &_PEP {
        align-self: flex-end;
        max-width: 30%;
        margin-bottom: -1%;
        padding-left: 7%;
        z-index: 1;
    }
    @media (min-width: $sm) {
        flex-direction: column;
        margin-top: -5%;

        &_PEP {
            align-self: flex-start;
            max-width: 70%;
            padding-top: 2%;
            padding-left: 1%;
        }
    }

    @media (min-width: $md) {
        flex-direction: column;
        margin-top: -1%;

        &_DO {
            width: 167px;
        }
    
        &_PEP {
            max-width: 159px;
            align-self: flex-start;
            padding-top: 27px;
            padding-left: 4%;
        }
    }
}