.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: $spacer * 5;
    z-index: 2;
    position: relative;
    flex-direction: column;
    font-weight: 600;

    @media (min-width: $md) {
        flex-direction: row;
    }

    @media (max-width: $sm) {
        flex-direction: row;
        align-items: baseline;
    }
}

.header-logo {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    object-fit: contain;
    margin-top: -7%;
    cursor: pointer;

    @media (min-width: $sm) {
        max-width: 20%;
        margin-top: -1.5%;
    }

    &_DO {
        max-width: 90%;
    }

    &_PEP {
        max-width: 90%;
        align-self: flex-start;
        padding-top: 5%;
        padding-left: 4%;
    }
}