.navigation {
    display: contents;
    flex-direction: row;
    align-items: center;
    padding-right: 3%;

    &__item {
        display: inline-flex;
        flex: none;
        color:#00316D;
        font-weight: 400;
        font-size: $font-size-base;
        text-decoration: none;
           
        & + & {
            margin-top: 0;
            margin-left: $spacer * 3;
        }

        a {
            text-decoration: none;
            color:#00316D;
        }

        span {
            font-size: $font-size-sm;
            line-height: initial;
        }

        button {
            span {
                font-size: $font-size-base * .6;
            }
        }
    }
}

.navigation__item:hover, a:hover {
    color: #0461D2;
}

.navigation__item:active, a:active {
    color: #00316D;
    font-weight: bold;
}

.menu-navigation {
    display: contents;
}

.nav-sign {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;

    &_button {
        border: 2px solid #00316D;
        border-radius: 2rem;
        padding: 2% 7%;
        padding-inline-start: 7%;
        padding-inline-end: 7%;
    }

    &_button:hover {
        background-color: #B6D7FF;
        color: #00316D;
    }
    
    &_button:active {
        background: #074B9E;
        color:white;
    }

    @media screen and (max-width: 1020px) {
        flex-direction: column;
    }

}

.menu-btn {
    display: none;
}

@media screen and (max-width: 1020px) {
    .menu-navigation {
        z-index: 999;
        display: none;
        position: fixed;
        padding: $spacer * 2;
        top: 15%;
        left: 0;
        background: #FFFFFF;
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        @media screen and (max-width: $md) {
            top: 9%
        }
        @media screen and (max-width: $sm) {
            top: 7%
        }

    }

    .navigation__item {
        display: table-row;

        & + & {
            margin-top: 2%;
            margin-left: 0%;
        }
    }

    .nav-link .nav-sign {
        flex-direction: column;
        padding-top: inherit;
    }

    .nav-link .nav-sign a {
        display: flex;
        flex-direction: column;

    }

    .nav-sign button {
        display: inherit;
        align-self: flex-start;
    }

    .select_lang {
        align-self: flex-start;
        display: inline-table;
        vertical-align: text-top;
    }

    .menu-btn {
        display: block;
        position: relative;
        width: 5%;
        height: 35px;
        margin-left: 10px;
        @media screen and (max-width: $sm) {
            width: 10%;
        }
    }

    .menu-btn span, .menu-btn:after, .menu-btn:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #00316D;
        margin: 0 auto;
    }
    .menu-btn span{
        top: 20px;
    }
    .menu-btn:after, .menu-btn:before{
        content: '';
    }
    .menu-btn:after{
        bottom: 5px;
    }
    .menu-btn:before{
        top: 13px;
    }
    .menu-btn.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-btn.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-btn.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
}
