.data-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: $spacer * 3;
    grid-row-gap: $spacer * 3;

    @media (max-width: $lg) {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-column-gap: 4%;
        grid-row-gap: 7%;
        padding-bottom: 5%;
    }
}

.payment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: $spacer * 3;
    grid-row-gap: $spacer * 3;
}

.landing-image{
    justify-content: center;
    position: relative;
    display: inline-flex;
    max-width: 90%;

    @media (min-width: $md) {
        max-width: 100%;
    }
}

.landing-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00316D;

    @media (min-width: $md) {
        display: flex;
        flex-direction: row;
    }
}
